@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<div asp-validation-summary="All"></div>

<form asp-controller="Account" asp-action="Login" method="post" autocomplete="off">
    <input type="hidden" asp-for="ReturnUrl" />

    <div>
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label>
            <input asp-for="RememberMe" type="checkbox" />
            Remember me
        </label>
    </div>

    <button type="submit">Login</button>

    <p>Don't have an account? <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Register here</a></p>
</form>
