[phases.setup]
nixPkgs = ["dotnet-sdk_8"]

[phases.install]
cmds = ["dotnet restore src/Andy.Auth.Server/Andy.Auth.Server.csproj"]

[phases.build]
cmds = ["dotnet publish src/Andy.Auth.Server/Andy.Auth.Server.csproj -c Release -o out --no-restore"]

[start]
cmd = "dotnet out/Andy.Auth.Server.dll"
